* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle {
  display: flex;
  padding: 20px;
  background-color: #fbf2e9;
}
.active {
  display: block !important;
}
.toggle section {
  display: none;
  padding-left: 20px;
  border: 1px solid blue;
}
.hovered {
  background-color: blue;
}
.toggle article ul li {
  list-style-type: none;
}
.disable {
  display: none;
}

.remove {
  margin-top: 50px;
  background-color: #fbf2e9;
}
.remove section {
  padding: 10px;
}
.remove section article {
  display: flex;
  justify-content: space-between;
}
.remove section hr {
  margin-top: 20px;
}
.input_task6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
progress{
    height: 50px;
    width: 500px;

}